//Roboto in 300, 400, 500, 700
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//fonts
$roboto: 'Roboto', sans-serif;

//colours
$background: #c1bdb3;
$borders: #f5f1ed;
$buttons: #f5f1ed;
$row-hover: #7f7979;
$row-selected: #a39d8f;

$light-text: #ffffff;
$dark-text: #333333;
