@import '../appStyles/app-styles.scss';

.folder-tree-actions {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  .app-title {
    width: 95%;
    height: 50px;
    padding-top: 2%;

    font-size: 30px;
  }

  .action-buttons-container {
    width: 95%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    label {
      margin: 1%;
    }
    input {
      margin: 1%;
    }
  }

  .add-folder-button {
    height: 25px;
    width: 25px;
    margin: 0 15px 0 5px;
    background-color: $buttons;
    border: 2px solid $borders;
    border-radius: 50%;
    font-weight: 500;
  }

  .action-button {
    height: 25px;
    padding: 0 10px;
    margin: 0 0 0 8px;
    background-color: $buttons;
    border: 2px solid $borders;
    border-radius: 15px;
    font-weight: 500;
  }
}
