@import '../../appStyles/app-styles.scss';

.document-row {
  height: 30px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  background-color: $background;

  &:hover {
    background-color: $row-hover;
  }

  &.selected {
    background-color: $row-selected;
  }

  .document-spacer {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
  }

  .document-icon {
    height: 20px;
    width: 20px;

    flex-shrink: 0;

    text-align: center;
  }

  .document-chevron {
    height: 20px;
    width: 20px;
    margin: 0 1%;
    flex-shrink: 0;

    text-align: center;
  }

  .document-label {
    height: 20px;
    max-width: 400px;
    margin: 0 1%;
    flex-shrink: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
