@import '../../appStyles/app-styles.scss';

.folder-tree {
  height: 95%;
  width: 95%;
  margin: 0 0 0 auto;

  border: 3px solid $borders;

  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
