.folder-tree {
  height: 100%;
  width: 550px;
  margin: 0 auto;

  border: 3px solid black;

  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
