@import './appStyles/app-styles.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $roboto;
}

#app-root {
  width: 100vw;
  height: 100vh;
}

.app {
  height: 100%;
  width: 100%;

  background-color: #333333;
  color: #daddd8;

  display: grid;
  grid-template-areas:
    'tree-actions focus-actions'
    'tree focus';
  grid-template-rows: minmax(0, 100px) minmax(0, auto);
  grid-template-columns: minmax(0, 40%) minmax(0, 60%);
}

.tree-actions {
  grid-area: tree-actions;
}

.focus-actions {
  grid-area: focus-actions;
}

.tree {
  grid-area: tree;
}

.focus {
  grid-area: focus;
}
