* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app-root {
  width: 100vw;
  height: 100vh;
}

.app {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-areas:
    'tree-actions focus-actions'
    'tree focus';
  grid-template-rows: minmax(0, 100px) minmax(0, auto);
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
}

.tree-actions {
  grid-area: tree-actions;
  border-bottom: 1px solid black;
}

.focus-actions {
  grid-area: focus-actions;
}

.tree {
  grid-area: tree;
}

.focus {
  grid-area: focus;
}
